body{
  margin: 0;
  padding: 0;
}

header{
  background-color: #1e75df;
  color: aliceblue;
  padding: 20px 0;
  text-align: center;
}

header h1{
  margin: 0;
}


nav{
background-color: rgba(143, 215, 0, 0.624);
margin-bottom: 20px;
}
nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-grow: 1;
}

nav ul li { 
  flex-grow: 1;

}
nav ul li a{
color:rgb(100, 59, 5);
font-weight: 600;
text-decoration: none;
padding: 3px 6px;
display: block;
text-align: center;
}

.galeria{
  max-width: 960px;
  margin: 0 auto;
}





footer{
  background-color: gray;
  text-align: center;
  padding: 30px;
}